# 5 - LONDON HOUSING DATASET
![alternative text](https://www.nhar.org/assets/images/housing_market_graphic.jpg)

This dataset is primary centered around the housing market of London. It contains a lot of additional relevant data:

* Monthly average house prices
* Yearly number of houses sold
* Monthly number of crimes commited

The data used here is from year 1995 to 2019 of each different area.

This data is available as a CSV file, downloaded from kaggle.

We will analyze this data using the Pandas DataFrame.

Here, random sets of questions are given for which we have to find correct results.

This project is for begineers and for those who want to analyze big data with Python.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(r'D:\Data Analytics Projects\5 - London Housing Data Analysis\Housing+Data.csv')

In [ ]:
data

In [ ]:
# 1.
# df.count()
# df.isnull().sum()

In [ ]:
data.count()

In [ ]:
data.isnull().sum()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# 2.
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.heatmap(data.isnull())
# plt.show()

In [ ]:
sns.heatmap(data.isnull())
plt.show()

### (A) Convert the Datatype of 'Date' column to Date-Time Format.

In [ ]:
# data.dtypes
# data.date = pd.to_datetime(data.date)

In [ ]:
data.head(2)

In [ ]:
data.dtypes

In [ ]:
data['date'] = pd.to_datetime(data['date'])

In [ ]:
data.dtypes

### (B.1) Add a new column "Year" in the DataFrame, which contains years only.

In [ ]:
# data['New_Column'] = df.Date_Column.dt.year

In [ ]:
data.head(5)

In [ ]:
data['year'] = data['date'].dt.year

In [ ]:
data.head()

### (B.2) Add a new column "month" as 3rd column in the dataframe, which contains month only.

In [ ]:
# df.insert(index, 'new_column_name', new_column_values)

In [ ]:
data.head()

In [ ]:
data.insert(2, 'month', data['date'].dt.month)

In [ ]:
data.head()

### (C) Remove the columns "year" and "month" from the dataframe.

In [ ]:
data.head(3)

In [ ]:
data.drop(columns=['year','month'], inplace=True)

In [ ]:
data

### (D) Show all the records where 'No. of Crimes' is 0. And, how many such records are there ?

In [ ]:
data.head(3)

In [ ]:
data[data['no_of_crimes'] == 0]

In [ ]:
len(data[data['no_of_crimes'] == 0])

### (E) What is the maximum & minimum 'average_price' per year in england ?

In [ ]:
data.head(3)

In [ ]:
df1 = data[data.area == 'england']

In [ ]:
df1

In [ ]:
df1.groupby('year').average_price.max()

In [ ]:
df1.groupby('year').average_price.min()

### (F) What is the Maximum and Minimum "no_of_crimes" recoreded per area ?

In [ ]:
data.head()

In [ ]:
data.groupby('area').no_of_crimes.max()

In [ ]:
data.groupby('area').no_of_crimes.min().sort_values(ascending=True)

### (G) Show the total count of records of each area, where average price is less than 100000.

In [ ]:
data.head()

In [ ]:
data[data['average_price'] < 100000].area.value_counts()